@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Montserrat:wght@200;400;600&display=swap');

:root{
    --colors-backgroundAlt: #fff;
    --colors-cardBorder: #e7e3eb;
    --colors-palett1: #00d5ff;
    --colors-palett2: #acb6ff;;
    --colors-palett3: #ff9cec;;
    --colors-palett4: #ffd58b;;
    --colors-palett5: #f8ff8f;;
    --color-presentation1: #d26270;
    --color-presentation2: #A0E7E5;
    --color-presentation3: #FBE7C6;
    --color-presentation4: #B4F8C8;
    --color-emoji:red;
    --background-color-presentation: #fadbe0;
    --background-color-skills:#f0c2c5;
    --background-color-education: #d26270;
    --background-color-proyects: #b62544;
    --background-color-footer: linear-gradient(to left, #dfe0e6, #acb6ff);
    --background-gradient:linear-gradient(to right, #fcedfa, #ff9cec);
    --padding-contenedor:  60px 0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

/* body{
    overflow: hidden;
} */

/* header */

.header__container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--colors-cardBorder);
}

.header__Div{
    display: flex;
    gap: 2em;
}

.header__Figure__Photo{
    width: 07%;
    
}

.header__Img{
    border-radius: 50%;
    width: 100%;
    display: block;
}

.header__Buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.header__a{
    text-decoration: none;
    color: var(--colors-palett1);
    font-weight: 700;
    font-size: x-large;
}

.header__contact{
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__icon{
    margin: 0 auto;
    width: 20%;
}

.header__button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta{
    gap: 1em;
    align-items: center;
    text-decoration: none;
    color: var(--colors-backgroundAlt);
    background-color: var(--colors-palett3);
    font-weight: 400;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
    display: flex;
    text-decoration: none;
    padding: 3px 8px;
    text-align: left;
}

.a{
    text-decoration: none;
}

.pd{
    padding: 3em;
}
/* slider */

.contenedor{
    margin: 0 auto;
    overflow: hidden;
    max-height: 1200px;
    width: 80%;
}

.slider{
    overflow: hidden;
    border-radius: 20px;
}
.sliderUl{
    animation: slide 12s infinite alternate ease-in-out;
    display: flex;
    width: 300%;
    height: 300px;
}

.sliderIl{
    display: flex;
    margin: 0 auto;
    list-style: none;
    width: 100%;
}

.sliderImg{
    width: 100%;
    display: block;
}


@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: 0%;}
    95%{margin-left: 0%;}
}

/* wave */
.wave__container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.wavetop{
    fill: #b62544;
}

/* presentation */


.about__me{
    background-image: var(--background-gradient);
}

.presentation{
    padding: 20px;
    display: flex;
    gap: 10px;
    text-align: center;
}

.presentationImage{
    width: 30%;
   margin: 0 auto;
}

.presentationImg{
    border-radius: 50%;
    display: block;
    width: 100%;
    
}

.presentationEffect{
   display: grid;
   align-items: center;
}

.presentationEffect span{
    position: relative;
    font-family: "Fredoka One";
    font-weight: bold;
    font-size: 40pt;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.presentationEffect span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.2);
    filter: blur(15px);
}

.presentationEffect span::after{
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(10px);
    transform: rotateX(50deg);
}

.presentationEffect span:hover{
    filter: contrast(250%);
}

.presentationEffect span:nth-child(1){
   color:  var(--color-presentation1);
   margin-right: 15px;
}

.presentationEffect span:nth-child(2){
    color:  var(--color-presentation2);
    margin-right: 15px;
 }

 .presentationEffect span:nth-child(3){
    color:  var(--color-presentation4);
 }

 .presentationEffect span:nth-child(4){
    color:  var(--color-presentation3);
 }

 .presentationEffect span:nth-child(5){
    color:   var(--color-presentation2);
 }

 .presentationEffect span:nth-child(6){
    color:  var(--color-presentation1);
    
 }

.presentationEmoji{
    color: var(--color-emoji);
}

.presentationParagraph{
    text-align: left;
}

.container_cta{
    display: flex;
    justify-content: center;
}

/* skills */
.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsOption{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.skillFigure{
width: 50%;
margin: 0 auto;
}

.skillImg{
width: 100%;
display: block;
}

/* education */
.education__father{
    background-image: var(--background-color-footer);
}

.education {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    padding: 20px;
}

.educationFigure{
    width: 100%;
    margin: 0 auto;
}

.educationImg{
    width: 100%;
    display: block;
}

.education__name{
    font-size: 16px;
}

.education__cards{
    padding: 1em;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr ;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 25px;
    border-radius: 25px;
}