*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1.5em 3em;
    
}

.slider{
    width: 1000px;
    height: auto;
    overflow: hidden;

    animation: slide 12s infinite alternate ease-in-out;
}
.sliderUl{
    display: flex;
    width: 100%;
}

.sliderIl{
    list-style: none;
    width: 100%;
}

.sliderImg{
    width: 100%;
}


@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}

/* presentation */

.presentation{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.presentationImage{
    width: 30%;
   margin: 0 auto;
}

.presentationImg{
    border-radius: 50%;
    display: block;
    width: 100%;
    
}

.presentationEmoji{
    color: red;
}

.presentationParagraph{
    text-align: left;
}

/* education */
.education {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    background-color: plum;
    padding: 20px;
}

.educationFigure{
    width: 40%;
    margin: 0 auto;
}

.educationImg{
    width: 100%;
    display: block;
}