*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    
}

.navbar.proyectos.container{
color: blue;
text-align: center;
border-radius: 25%;
}

.navbar{
    background-color: aquamarine;
    
}

/* presentation */

.presentation{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.presentationImage{
    width: 30%;
   margin: 0 auto;
}

.presentationImg{
    border-radius: 50%;
    display: block;
    width: 100%;
    
}

.presentationEmoji{
    color: red;
}

.presentationParagraph{
    text-align: left;
}

/* education */
.education {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    background-color: plum;
    padding: 20px;
}

.educationFigure{
    width: 40%;
    margin: 0 auto;
}

.educationImg{
    width: 100%;
    display: block;
}